/*ESTILOS TOOLBAR*/
.arriba{
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  }

  .boton_notificaciones{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  

/*ESTILOS FOTO PERFIL*/
.imgRedonda {
  width: 130px;
  height: 130px;
  border-radius:160px;
  border:6px solid #03A9F4;
  display:block;
  margin:auto;
}

/*ESTILOS BOTON EDITAR FOTO*/
.editBtn{
  position: relative;
  bottom: 40px;
  margin-left: 54%;
  color:#37474F;  
}

/*ESTILOS NOMBRE DE EMPRESA*/
.nombre{
  text-align: center;
  font-size: 80;
  color:#37474F;  
}


/*ESTILOS TITULO "MIS PROYECTOS"*/
.Titulos{
  font-size: 50;
  color: #616161;
  text-align: center;
}

/*ESTILOS LINEA DIVISORA*/
.Linea{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin: 20px 10px 5px;
}

/*ESTILOS BOTON NUEVO PROYECTO*/
.BtnNuevoP{
  margin-left: 75%;
  margin-right: 2%;
  background: #2E7D32;
  color: white;
}

/*ESTILOS TARJETAS PROYECTOS*/
.proyectos{
  display: flex;
  flex-direction: row;
}

.proyecto-card {
max-width: 400px;
margin: 20px;
background:  #EEEEEE;
}
.proyecto-card p{
text-align: justify;
}


