<!--TOOLBAR-->
<mat-toolbar class="arriba">
    <img src="assets\Logos\Mindart.jpeg"> 
    <p class="espacio"></p>
    <!--BOTONES PARTE SUPERIOR-->
    <button color="primary" mat-button mat-icon-button class="btn2" (click)="showNoti()">
        <mat-icon>notification_important</mat-icon>
    </button>
    <button color="accent" mat-button mat-icon-button class="btn4" [routerLink]= "['/inicio-empresas']" style="margin: 10px">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>
<mat-divider></mat-divider>&nbsp;

<!--PERFIL-->
<section>
  <!--FOTO PERFIL-->
    <img class="imgRedonda" [src]="profileBusinessImg">
  <!--BOTON EDITAR FOTO-->
    <button class="editBtn" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  <!--NOMBRE EMPRESA-->
    <h3 class="nombre" id="nombreemp"><strong>REACHING DREAMS</strong></h3>
  </section>
<!--BOTON NUEVO PROYECTO-->
<div class="container-btn-new">
  <button class="BtnNuevoP" mat-raised-button (click)="onEdit()">
    NUEVO PROYECTO
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<hr class="Linea">
<p class="Titulos"><strong>TUS PROYECTOS PUBLICADOS</strong></p>

<!--TARJETAS PROYECTOS-->
<section class="proyectos" *ngIf="postsemp$ | async as postsemp; else loading">
  <mat-card  class="proyecto-card" *ngFor="let postemp of postsemp">
      <mat-card-header>
          <mat-card-title>{{postemp.titlePost}} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <p> {{postemp.contentPost}} </p>
         <mat-chip-list>
          <mat-chip selected *ngFor="let tag of postemp.tagsPost" [ngClass]="tag">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button class="btnver" type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]= "['/postemp', postemp.id]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary" (click)="onEdit(postemp)"> 
            <mat-icon>edit</mat-icon>
        </button>
        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn" (click)="onDelete(postemp)">
            <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
  </mat-card>
</section>
<!--Spinner carga-->
<ng-template #loading>
  <div class="proyectos-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
  

