<!--TOOLBAR-->
<mat-toolbar class="arriba">
    <img src="assets\Logos\Mindart.jpeg"> 
    <p class="espacio"></p>

    <!--BOTONES PARTE SUPERIOR-->
    <button mat-button mat-icon-button class="btn2" (click)="openInfo()">
        <mat-icon>notification_important</mat-icon>
    </button>
    <button mat-button mat-icon-button class="btn3">
        <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-button mat-icon-button class="btn4" onclick="location.href='inicio/inicio.component.html'"  style="margin: 10px">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>

<!--PERFIL-->
<section>
  <!--FOTO PERFIL-->
    <img class="imgRedonda" [src]="profileBusinessImg">
  <!--BOTON EDITAR FOTO-->
    <button class="editBtn" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  <!--NOMBRE EMPRESA-->
    <h3 class="nombre"><strong>REACHING DREAMS</strong></h3>
  </section>


<!--BOTON NUEVO PROYECTO-->
<button (click)="NewProyecto()" class="BtnNuevoP" mat-raised-button>
    NUEVO PROYECTO
    <mat-icon>add_circle_outline</mat-icon>
</button>


<hr class="Linea">
<p class="Titulos"><strong>MIS PROYECTOS</strong></p>

<!--TARJETAS PROYECTOS-->
<section class="proyectos">
    <mat-card  class="proyecto-card">
        <mat-card-header>
          <mat-card-title>Campaña publicitaria navidad 🎅🏻</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Reconocida empresa de bogotá (REACHING DREAMS), requiere locutores y actores de doblaje para trabajar en campaña 
            publicitaria de navidad, salario a convenir
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary"> 
                <mat-icon>edit</mat-icon>
            </button>
            <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card  class="proyecto-card">
        <mat-card-header>
          <mat-card-title>Campaña publicitaria octubre 🎃</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Reconocida empresa de bogotá (REACHING DREAMS), requiere dibujantes para trabajar en campaña 
            publicitaria de octubre, salario a convenir
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary"> 
                <mat-icon>edit</mat-icon>
            </button>
            <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            </mat-card-actions>
      </mat-card>
</section>
  

