<app-navbar-inicio-artista></app-navbar-inicio-artista>
<div class="inicio-empresas">


<!--div class="btn5">
    <button  onclick="location.href='http://localhost:4200/empresas'" mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div-->
 
  <div class="container" *ngIf="postartista$ | async as postartista; else loading">
    <mat-card class="postartista-card" *ngFor="let postartista of postartista">
      <mat-card-header>
        <mat-card-title> {{postartista.titlePost}} </mat-card-title>
      </mat-card-header>
      <img matCardImage [src]="postartista.imagePost"/>
      <mat-card-content>
        <p> {{postartista.contentPost}} </p>
      </mat-card-content>
     <mat-divider></mat-divider>
     <div class="espacio">espacio</div>
      <button class="interes">
        <mat-icon>camera roll icon</mat-icon>
      </button>

      
    </mat-card>
  </div>
  <ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>

