.html_artistas{
    text-align: center;
    width: 375px;
    height: 560px;
}
.texto{
    font-size:25px;
}
.espacio{
    font-size:10px;
}
.label{
  font-size:12px;
  font-weight: 550;
}
.input_contra{
   width: 180px;
}
.mcontraseña{
    size: 10px;
}
.btnrartistas{
    background-color: #EC2019;
    color: #ffffff;
    border-radius: 85px;
    width: 180px;
    height: 37px;
}
.body{
   background-color: black;
}
