

<div class="html_artistas" *ngIf="!submitted" [formGroup]="datos" >

    <img src="assets\Logos\2.png" width="70px">

<p class="texto">Editar Perfil</p>
 
<div><mat-form-field hideRequiredMarker>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name" required >
</mat-form-field>

</div>  
<div><mat-form-field hideRequiredMarker>
  <mat-label>Numero Telefonico</mat-label>
  <input matInput type="number" formControlName="number"  required >
</mat-form-field>
</div>  
      
<div>
    <mat-form-field hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ejemplo@hotmail.com"
      formControlName="email" 
      required>
      <mat-error *ngIf="datos.get('email').hasError && datos.get('email').value!=''">El email no es valido</mat-error>
    </mat-form-field>
    </div>

<div>
    <mat-form-field hideRequiredMarker >
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput type="date" formControlName="dob" required>
      </mat-form-field>
</div>

<div>
    <mat-form-field class="input_contra" hideRequiredMarker>
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required  >
      <button class="mcontraseña "mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
     
<!--div>
    <mat-form-field hideRequiredMarker>
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required>
    </mat-form-field>
</div-->
  <p class="espacio"></p>
<div> 
    <button class="btnrartistas"(click)="onSubmit()" [disabled]="datos.invalid" novalidate mat-raised-button>Guardar</button>
    </div>
    <p class="label">¿Ya tienes cuenta? Inicia sesion</p>
    <div>
    <div class="relleno">      
      asd
    </div>
</div>
</div>
<p *ngIf="submitted">Gracias por unirte a la familia Mindart</p>
<h1 class=corazao *ngIf="submitted" > {{corazao}} </h1>
