
<div class="html_artistas">
    <img src="assets\2.png" width="70px">
<p class="texto">Bienvenido a Mindart</p>  
<mat-card class="card">
<div><mat-form-field hideRequiredMarker>
    <mat-label>Nombre</mat-label>
    <input matInput required >
</mat-form-field>
</div> 
<div>
    <mat-form-field hideRequiredMarker>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ejemplo@hotmail.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
</div>
<div>
    <mat-form-field hideRequiredMarker >
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput type="date" required>
      </mat-form-field>
</div>
<div>
    <mat-form-field class="input_contra" hideRequiredMarker>
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required  >
      <button class="mcontraseña "mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> 
    </mat-form-field>
     </div>
  <div>
    <mat-form-field hideRequiredMarker>
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="contra2" required>
    </mat-form-field>
  </div>
  <div> <button class="btnrartistas" mat-raised-button >Guardar</button></div>
</mat-card >
</div>
