<section *ngIf="postnoti$ | async as postnoti; else loading">
    <mat-card  *ngFor="let postnoti of postnoti">

        <mat-card-content>
           <p> {{postnoti.interesado}} se a interesado en tu proyecto <strong>{{postnoti.nombreProyecto}} </strong></p>     
        </mat-card-content>
        <mat-card-content>
            <p> correo de contacto: {{postnoti.emailInter}} </p>     
         </mat-card-content>
        <mat-divider></mat-divider>
      
    </mat-card>
  </section>
  <!--Spinner carga-->
  <ng-template #loading>
    <div class="proyectos-spinner" >
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
