<mat-toolbar class="arriba"><div class="perfil-artistas"></div>
    <img src="assets\Logos\Mindart.jpeg"> 
    <div class="espacio"></div>
    <a href="inicio/inicio.component.html">Ir a inicio</a>
    <p class="espacio"></p>
    <!--div class="btn1">
        </mat-card>
                        <button type="button" class="btn btn-default" data-dissmiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dissmiss="modal">Guardar cambios</button>
        </button>
    </div-->
        <a class="btn2" >
            <button type="button" mat-fab color="primary" aria-label="Example icon button with a delete icon" layout-align="end center">
              <mat-icon>notification_important</mat-icon>
            </button>
        </a>
        <a class="btn3" >
            <button type="button" mat-fab color="primary" aria-label="Example icon button with a delete icon" layout-align="end center">
              <mat-icon>more_vert</mat-icon>
            </button>
        </a>
        <a class="btn4" >
            <button type="button" mat-fab color="primary" aria-label="Example icon button with a delete icon" layout-align="end center">
                <mat-icon>home</mat-icon>
              </button>
        </a>
    </mat-toolbar>
    <div class="Texto">
        <h1> CAMILO ERNESTO </h1>
        <!--h1> Camilo.hernesto@ejemplo.com </h1-->
    </div>
    <div class="Texto2">
        <!--h1> CAMILO HERNESTO </h1-->
        <!--h1> Camilo.ernesto@ejemplo.com </h1-->
    </div>
    <div class="perfil">
    <img class="imgRedonda" src="assets\Photos\perfil.jpg" width="80px" >
</div>
<!--div class="container section">
    <a href="#idModal" class="btn modal-trigger red" color="red">Modal ancla</a>
    <button class="btn modal-trigger blue" data-target="idModal2">Modal button</button>
    <div id="idModal2" class="modal">
        <div class="modal-content">
            <h4>Tienes 10 notificaciones nuevas</h4>
            <p> Tienes 20 notificaciones anteriores</p>
        </div>
        <div class="modal-footer">
            <a href="" class="btn modal-close">Cerrar</a>
        </div>
    </div>
    <div id="idModal" class="modal">
        <div class="modal-content">
            <h4>Tienes 5 notificaciones nuevas</h4>
            <p> Tienes 10 notificaciones anteriores</p>
        </div>
        <div class="modal-footer">
            <a href="" class="btn modal-close">Cerrar</a>
        </div>
    </div>
</div-->



