<mat-toolbar class="arriba"><div class="perfil-artistas"></div>  
  <img src="assets\Logos\Mindart.jpeg"> 
    <div class="espacio"></div>
    <p class="espacio"></p>
        <div class="btn2" >
            <button (click)="openInfo()" type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
              <mat-icon>notification_important</mat-icon>
            </button>
        </div>
        <div class="btn3" >
            <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <div class="btn4" >
            <button type="button"  onclick="location.href='http://localhost:4200/artistas'" mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="margin: 10px">
                <mat-icon>home</mat-icon>
              </button>
            </div>
            <div>
            </div>
    </mat-toolbar>
    <div class="Texto">
        <h3 id="nombreArt"> CAMILO ERNESTO </h3>
    </div>
    <div class="perfil">
    <img class="imgRedonda" src="assets\Photos\perfil.jpg" width="80px" >
</div>
<button class="editBtn" mat-icon-button>
  <mat-icon>edit</mat-icon>
</button>
  <div>
    <button mat-stroked-button (click)="onNewPost()" class="BtnNuevoP" mat-raised-button>
      NUEVO PROYECTO
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  
  
  <hr class="Linea">
  <div class="container" *ngIf="postartista$ | async as postartista; else loading">
    <mat-card class="postartista-card" *ngFor="let postartista of postartista">
      <mat-card-header>
        <mat-card-title> {{postartista.titlePost}} </mat-card-title>
      </mat-card-header>
      <img matCardImage [src]="postartista.imagePost"/>
      <mat-card-content>
        <p> {{postartista.contentPost}} </p>
        <mat-chip-list>
          <mat-chip selected *ngFor="let tag of postartista.tagsPost" [ngClass]="tag">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button class="btnver" type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]= "['/postartista', postartista.id]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary" (click)="onEditPost(postartista)"> 
            <mat-icon>edit</mat-icon>
        </button>
        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn" (click)="onDeletePost(postartista)">
            <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>