/*.mindart{
    width: 50px; height: 50px;
}*/
.arriba{
    background: white;
    /*width:0%;
    height: 15%;*/
    margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.perfil{
    text-align:center;
    font-size: 10%;
    /*width: 100%;
    max-width: 800px;
    height: 600px;*/
}
.imgRedonda {
    /*width:300px;
    height:300px;*/
    
    width:130px;
    height: 130px;
    margin: auto;
    /*width: 200px;
    margin: 200px;*/
    border-radius:160px;
    border:10px solid purple;
}
.Texto{
    widows: 0px;
    height: 0px;
    margin: auto;
    text-align: center;
    line-height: 350px;
}
.Texto2{
    widows: 0px;
    height: 0px;
    margin: auto;
    text-align: center;
    line-height: 570px;
}
.btn2{
    /*background-color: blue;
    color: #ffffff;
    width: 20px;
    height: 50px;
    background: white;
    text-align: center;
    font-size: 0%;*/
    margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.boton_notificaciones{
    /*background-color: #EC2019;
  color: #ffffff;
  border-radius: 85px;
  width: 180px;
  height: 37px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
/*.label{
    font-size:12px;
    font-weight: 550;
    }*/