<mat-toolbar class="arriba"><div class="perfil-artistas"></div>  
  <img src="assets\Logos\Mindart.jpeg"> 
    <p class="espacio"></p>
      <button  color="primary" class="btn2" type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openModalNoti()">
        <mat-icon>notification_important</mat-icon>
      </button>
      <button color="accent" class="btn4" type="button"  [routerLink]= "['/inicio-artistas']" mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="margin: 10px">
          <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>&nbsp;
<section>
  <img class="imgRedonda" src="assets\Photos\perfil.jpg">
  <button class="editBtn" mat-icon-button>
    <mat-icon>edit</mat-icon>
  </button>
  <h3 class="Texto" id="nombreArt"><strong>{{nombreArtista}} </strong> </h3>
</section>
<div class="container-btn-new">
  <button (click)="onNewPost()" class="BtnNuevoP" mat-raised-button>
    NUEVO PROYECTO
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<hr class="Linea">
<p class="Titulos"><strong>TUS PROYECTOS PUBLICADOS</strong></p>

<section class="container" *ngIf="postartista$ | async as postartista; else loading">
  <mat-card class="postartista-card" *ngFor="let postartista of postartista">
      <mat-card-header>
        <mat-card-title> {{postartista.titlePost}} </mat-card-title>
      </mat-card-header>
      <img matCardImage [src]="postartista.imagePost"/>
      <mat-card-content>
        <p> {{postartista.contentPost}} </p>
        <mat-chip-list>
          <mat-chip selected *ngFor="let tag of postartista.tagsPost" [ngClass]="tag">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button class="btnver" type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]= "['/postartista', postartista.id]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary" (click)="onEditPost(postartista)"> 
            <mat-icon>edit</mat-icon>
        </button>
        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn" (click)="onDeletePost(postartista)">
            <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

  <ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>