<app-navbar-inicio-artista></app-navbar-inicio-artista>
<div class="container">
    <div class="row align-items-start">
      
    

<div class="html_artistas"  [formGroup]="datos" >

   

<p class="font-weight-bold">Editar Perfil</p>
 
<div><mat-form-field hideRequiredMarker>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name" required [(ngModel)]="artista.name">
</mat-form-field>

</div>  
<div><mat-form-field hideRequiredMarker>
  <mat-label>number</mat-label>
  <input matInput type="number" formControlName="number"  required [(ngModel)]="artista.number">
</mat-form-field>
</div>  
      
<div>
    <mat-form-field hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ejemplo@hotmail.com"      formControlName="email"       required [(ngModel)]="artista.email">
      
    </mat-form-field>
    </div>

<div>
    <mat-form-field hideRequiredMarker >
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput type="date" formControlName="dob" required [(ngModel)]="artista.dob">
      </mat-form-field>
</div>


     
<!--div>
    <mat-form-field hideRequiredMarker>
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required>
    </mat-form-field>
</div-->
  <p class="espacio"></p>
<div> 
    <button class="btnrartistas"(click)="onSubmit()"  novalidate mat-raised-button>Guardar</button>
    </div>
    
    <div>
   
</div>
</div>


     
    </div>
  </div>