<!-- <div class = "titulo">
    <H2>NO SON LOS INDIVIDUOS LOS QUE</H2>
    <H2>HACEN LAS EMPRESAS EXITOSAS</H2>
    <H2>SINO TÚ EN NUESTRO EQUIPO </H2>
    </div> -->
    <mat-grid-list cols="6">
        <mat-grid-tile rowspan="2"><img src="assets\Empresas\Photo8.jpeg"></mat-grid-tile>
        <mat-grid-tile colspan=2><img src="assets\Empresas\Photo7.jpeg"></mat-grid-tile>
        <mat-grid-tile><img src="assets\Empresas\Photo11.jpeg"></mat-grid-tile>
        <mat-grid-tile rowspan="2"><img src="assets\Empresas\Photo5.jpeg"></mat-grid-tile>
        <mat-grid-tile><img src="assets\Empresas\Photo12.jpeg"></mat-grid-tile>
        <mat-grid-tile rowspan="2"><img src="assets\Empresas\Photo2.jpeg"></mat-grid-tile>
        <mat-grid-tile colspan=2> SI QUIERES SER IRREMPLAZABLE DEBES SER DIFERENTE, POR ESO QUEREMOS SER IMPRESCINDIBLES PARA TI</mat-grid-tile>
        <mat-grid-tile rowspan="2"><img src="assets\Empresas\Photo3.jpeg"></mat-grid-tile>
        <mat-grid-tile><img src="assets\Empresas\Photo9.jpeg"></mat-grid-tile>
        <mat-grid-tile><img src="assets\Empresas\Photo4.jpg"></mat-grid-tile>
        <mat-grid-tile colspan=2><img src="assets\Empresas\Photo6.jpeg"></mat-grid-tile>
    </mat-grid-list>