<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets\Logos\Mindart.jpeg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
          
        <div class="btn-group">
          <button type="button" class="btn btn-outline-warning" data-toggle="dropdown">Hola {{artista.name}}</button>
          <button type="button" class="btn btn-outline-warning   dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"  style="cursor: pointer" >Proyectos  <mat-icon  iconsmall style="cursor: pointer;float: right;" >work</mat-icon> </a>
            <a class="dropdown-item"  style="cursor: pointer" >Perfil  <mat-icon  iconsmall style="cursor: pointer;float: right;" >account_circle</mat-icon> </a>
            <a class="dropdown-item"  style="cursor: pointer" (click)="editarPerfil()" >Editar Perfil  <mat-icon  iconsmall style="cursor: pointer;float: right;" >settings</mat-icon> </a>

          
            
          </div>
        </div>
      </form>
    </div>
  </nav>