.mat-card{
    background:  #ffffff;
    border-radius: 0;
    box-shadow: initial;
}
.mat-card-title{
    margin-top: 30px;
    font-size: 1.7rem;
    color:#37474F; 
    text-transform: uppercase;
}

.mat-card-title p{
    font-size: 50;
    color: #616161;
    text-align: center;
    margin-top: 1px;
  }
.mat-card-header{
    display: flex;
    justify-content: center;
}
.mat-card-content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.mat-chip{
    min-height: 1rem;
    background:#FFA726 !important;
}
.mat-chip-list{
    display: flex;
    justify-content: center;
}
p.content{
    text-align: initial;
}
img{
    width: 50%;
    border-radius: 6px;
}
.align-center{
    text-align: center;
    clear: both;
    display: block;
    margin:6px auto ;
}
.Linea{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin: 20px 10px 5px;
  }
  .Titulos{
    font-size: 50;
    color: #757575;
    text-align: center;
    margin-top: 1px;
  }



