<section class="container" *ngIf="postartista$ | async as postartista; else loading">
    <mat-card class="postartista-card" >
      <img matCardImage class="align-center" [src]="postartista.imagePost"/>

        <mat-card-header>
          <mat-card-title>{{postartista.titlePost}}</mat-card-title>
        </mat-card-header>
        <br>
        <br>
        <p class="Titulos"><strong>TIPO DE PROYECTO:</strong></p> 
        <mat-chip-list>
          <mat-chip selected *ngFor="let tag of postartista.tagsPost" [ngClass]="tag">
            {{tag}}
          </mat-chip>
        </mat-chip-list>

        <hr class="Linea">
      <mat-card-content>
        <p>{{postartista.contentPost}}</p>
      </mat-card-content>
    </mat-card>
  </section>
  <ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>