<mat-card>
    <mat-card-header>
        <mat-card-title>Mindart</mat-card-title>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Mindart ayuda a dibujantes, locutores y actores de doblaje a dar a conocer su trabajo por medio de la
            recopilación y comercialización de sus diferentes expresiones artísticas, ganando reconocimiento entre las
            empresas registradas y brindándoles así mayores oportunidades de trabajo.
            Mindart es creado por </p>
    </mat-card-content>
</mat-card>
<mat-card class="format-nombres">
    <mat-card-content>
        <p>-Carlos Moncada</p>
        <p>-Johan Salazar</p>
        <p>-Jesus Pinilla</p>
        <p>-Andres Giraldo</p>
        <p>-Kevin Pardo</p>
        <p>-Duvan Rodriguez</p>
        <p>-Laura García</p>
    </mat-card-content>
</mat-card>