<mat-card class="format-info">
    
    <mat-card-header>
        <img src="assets\Mindart.jpeg">   
    </mat-card-header>
    <mat-card-content>
        <h1></h1>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
        <p>Mindart ayuda a dibujantes, locutores y actores de doblaje a dar a conocer su trabajo por medio de la
            recopilación y comercialización de sus diferentes expresiones artísticas, ganando reconocimiento entre las
            empresas registradas y brindándoles así mayores oportunidades de trabajo.</p>
        <p>Creemos firmemente en la subcontratación creativa por ello vemos en Mindart una gran oportunidad para
            explorar este mercado, nuestra plataforma digital puede abrir un nuevo camino para todas esas personas
            talentosas que no tienen donde dar a conocer su expresión artisitica.</p>
        <p>Mindart es creado por:</p>
    </mat-card-content>
</mat-card>
<mat-card class="format-nombres">
    <mat-card-content>
        <p>-Carlos Moncada</p>
        <p>-Johan Salazar</p>
        <p>-Jesus Pinilla</p>
        <p>-Andres Giraldo</p>
        <p>-Kevin Pardo</p>
        <p>-Duvan Rodriguez</p>
        <p>-Laura García</p>
    </mat-card-content>
</mat-card>