<div class="html_empresas" [formGroup]=datosCompanies>
  <img src="assets\Logos\2.png" width="60px">
<p class="texto">Bienvenido a Mindart</p>
<div><mat-form-field hideRequiredMarker>
  <mat-label>Nombre</mat-label>
  <input matInput type="text" required formControlName=name>
</mat-form-field>
</div>
<div>
  <mat-form-field hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ejemplo@hotmail.com"  required formControlName=email>
      <mat-error *ngIf="datosCompanies.get('email').hasError && datosCompanies.get('email').value!=''"> E-mail no valido  </mat-error>



    </mat-form-field>
</div>
<div>
  <mat-form-field hideRequiredMarker >
      <mat-label>Nit</mat-label>
      <input matInput type= "number"  required formControlName=nit >
    </mat-form-field>
</div>

<div>
  <mat-form-field hideRequiredMarker >
      <mat-label>Telefono</mat-label>
      <input matInput type= "number"  required formControlName=number >
    </mat-form-field>
</div>

<div>
  <mat-form-field class="input_contra" hideRequiredMarker>
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" required formControlName=password >
    <button class="mcontraseña "mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
  </mat-form-field>
   </div>
<!--div>
  <mat-form-field hideRequiredMarker>
    <mat-label>Confirmar Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" name="contra2" required>
  </mat-form-field>
</div-->
<p class="espacio"></p>
<div>
  <button class="btnrempresas" mat-raised-button (click)= "onSubmit()" [disabled]= "datosCompanies.invalid" novalidate mat-raised-button mat-dialog-close >Guardar</button></div>
  <p class="label">¿Ya tienes cuenta? Inicia sesion</p>

</div>
