<div class="html_empresas">
  <img src="assets\Logos\2.png" width="60px">
<p class="texto">Bienvenido a Mindart</p>
<div><mat-form-field hideRequiredMarker>
  <mat-label>Nombre</mat-label>
  <input matInput required >
</mat-form-field>
</div>
<div>
  <mat-form-field hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ejemplo@hotmail.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div>
  <mat-form-field hideRequiredMarker >
      <mat-label>Nit</mat-label>
      <input matInput  required>
    </mat-form-field>
</div>
<div>
  <mat-form-field class="input_contra" hideRequiredMarker>
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" required  >
    <button class="mcontraseña "mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
  </mat-form-field>
   </div>
<div>
  <mat-form-field hideRequiredMarker>
    <mat-label>Confirmar Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" name="contra2" required>
  </mat-form-field>
</div>
<p class="espacio"></p>
<div>
  <button class="btnrempresas" mat-raised-button >Guardar</button></div>
  <p class="label">¿Ya tienes cuenta? Inicia sesion</p>

</div>
