<!--TOOLBAR-->
<mat-toolbar class="arriba">
    <img src="assets\Logos\Mindart.jpeg"> 
    <p class="espacio"></p>

    <!--BOTONES PARTE SUPERIOR-->
    <button color="primary" mat-button mat-icon-button class="btn2" (click)="openInfo()">
        <mat-icon>notification_important</mat-icon>
    </button>
    <button color="accent" mat-button mat-icon-button class="btn4" [routerLink]= "['/inicio-empresas']"   style="margin: 10px">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>
<mat-divider></mat-divider>
<!--DATOS TRAIDOS DESDE PERFIL EMPRESAS "perfil-empresas.component"-->
<section class="proyectos" *ngIf="postemp$ | async as postemp; else loading">
    <mat-card  class="proyecto-card" >
  <mat-card-header>
    <mat-card-title>
        {{postemp.titlePost}} 
    </mat-card-title>
</mat-card-header>   
<br>
<br>
<p class="Titulos"><strong>ARTISTA REQUERIDO:</strong></p> 
    <mat-chip-list> 
        <mat-chip selected *ngFor="let tag of postemp.tagsPost" [ngClass]="tag"> {{ tag }}</mat-chip>
    </mat-chip-list>
<hr class="Linea"> 
        <mat-card-content>
           <p>{{postemp.contentPost}}</p>
        </mat-card-content> 
    </mat-card>

</section>
<!--Spinner carga-->
<ng-template #loading>
    <div class="proyectos-spinner">
      <mat-spinner></mat-spinner>
    </div>
</ng-template>
  
