<div class="archivo">
    <form class="formulario" [formGroup]="datosarchivo">
        <mat-form-field>
            <mat-label class="titulo">TITULO</mat-label>
            <input matInput placeholder="Titulo" formControlName="titulo">
        </mat-form-field>
        <mat-form-field>
            <mat-label>DESCRIPCIÓN</mat-label>
            <input matInput placeholder="Descripcion" formControlName="DescripcionPost">
        </mat-form-field>
        <div class="container-input-file">
            <label class="custom-file">
                <!--img [src]="url" height="200"><br-->
                <input type="file" id="customFile" accept=".png, .jpg, .jpeg"  (change)="selectFile($event)"/>
                <mat-icon>cloud_upload</mat-icon><span>CHOOSE IMAGE</span>
            </label>
        </div>
        <div>
            {{datosarchivo.get("imagePost").value}}
        </div>
        <div>
            <button class="boton1" (click)=" upload()"  novalidate mat-raised-button>Guardar</button>
        </div>
    </form>
</div>