<mat-grid-list cols="6">
    <mat-grid-tile><img src="assets\Photos\Photo9.jpeg"></mat-grid-tile>
    <mat-grid-tile rowspan="2"><img src="assets\Photos\Photo10.jpeg"></mat-grid-tile>
    <mat-grid-tile><img src="assets\Photos\Photo18.jpeg"></mat-grid-tile>
    <mat-grid-tile colspan="2"><img src="assets\Photos\Photo15.jpeg"></mat-grid-tile>
    <mat-grid-tile rowspan="2"><img src="assets\Photos\Photo2.jpeg"></mat-grid-tile>
    <mat-grid-tile rowspan="2"><img src="assets\Photos\Photo6.jpeg"></mat-grid-tile>
    <mat-grid-tile colspan=2>DEJA QUE EL MUNDO CONOZCA TU ARTE</mat-grid-tile>
    <mat-grid-tile rowspan="2"><img src="assets\Photos\Photo3.jpeg"></mat-grid-tile>
    <mat-grid-tile colspan=2><img src="assets\Photos\Photo16.jpeg"></mat-grid-tile>
    <mat-grid-tile><img src="assets\Photos\Photo17.jpeg"></mat-grid-tile>
    <mat-grid-tile><img src="assets\Photos\Photo19.jpeg"></mat-grid-tile>
</mat-grid-list>