.container{
    display:100% ;
    flex-direction: column;
  }
  
  mat-form-field{
      width: 100%;
  }

  .container-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem -0.6rem;
  }

  button{
      width: 100%;
  }