<div class="container" [formGroup]="postempForm">
    <!--INPUT TITULO-->
    <mat-form-field>
        <input matInput placeholder="Nombre proyecto" name="titlePost" [(ngModel)]="this.postempSvc.selected.titlePost" formControlName="titlePost">
    </mat-form-field>
    <!--INPUT DESCRIPCIÓN-->
    <mat-form-field>
        <textarea matInput placeholder="Descripción" name="contentPost" [(ngModel)]="this.postempSvc.selected.contentPost" formControlName="contentPost"></textarea> 
    </mat-form-field> 
    <!--SELECT ARTISTA-->
    <mat-form-field>
        <mat-select placeholder="Artista buscado" multiple name="tagsPost" [(ngModel)]="this.postempSvc.selected.tagsPost" formControlName="tagsPost">
            <mat-option value="actor doblaje">Actor de doblaje</mat-option>
            <mat-option value="dibujante">Dibujante</mat-option>
            <mat-option value="locutor">Locutor</mat-option>
        </mat-select>
    </mat-form-field> 
    <!-- BOTON GUARDAR  -->
    <div class="container-btn">
        <button mat-flat-button color="primary" (click)="onSaveForm()" [disabled]="postempForm.invalid">
            <mat-icon>save</mat-icon> GUARDAR
        </button> 
    </div>
</div>
